server:
  port: 8081

spring:
  application:
    name: disciplina-service

  datasource:
    url: jdbc:postgresql://localhost:5432/academico
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  config:
    import: "optional:configserver:"

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
